
@font-face{
	font-family: font52;
	src: url(../fonts/Merriweather-RegularItalic.ttf);
}

@font-face{
	font-family: font53;
	src: url(../fonts/NotoSansKR-Black.otf);
}

@font-face{
	font-family: font54;
	src: url(../fonts/NotoSansKR-Bold.otf);
}

@font-face{
	font-family: font55;
	src: url(../fonts/NotoSansKR-Medium.otf);
}

@font-face{
	font-family: font56;
	src: url(../fonts/NotoSansKR-Light.otf);
}

@font-face{
	font-family: font33;
	src: url(../fonts/CrimsonText-SemiBold.ttf);
}
@font-face{
	font-family: font27;
	src: url(../fonts/Caveat-Regular.ttf);
}

footer a{
	font-family: font33;
	text-decoration: none;
	margin: 20px;
	color: #ffe6f9;
	font-size: 30px;
}

footer{
	background-color: #b30086;
	height: 120px;
	padding: 50px;
}

.footer-social-media{
	text-align: center;	
}

footer p{
	color: #ffe6f9;
	font-family: font56;
	font-weight: 100;
	font-size: 15px;
}


footer img{
	width: 30px;
	height: 30px;
}