@keyframes animation1{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(180deg);}
}

@font-face{
	font-family: font1;
	src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face{
	font-family: font2;
	src: url(../fonts/Asap-Bold.ttf);
}

@font-face{
	font-family: font3;
	src: url(../fonts/Asap-BoldItalic.ttf);
}

@font-face{
	font-family: font4;
	src: url(../fonts/Asap-Medium.ttf);
}

@font-face{
	font-family: font5;
	src: url(../fonts/Asap-MediumItalic.ttf);
}

@font-face{
	font-family: font6;
	src: url(../fonts/Asap-Regular.ttf);
}

@font-face{
	font-family: font7;
	src: url(../fonts/Asap-RegularItalic.ttf);
}

@font-face{
	font-family: font8;
	src: url(../fonts/Asap-SemiBoldItalic.ttf);
}

@font-face{
	font-family: font9;
	src: url(../fonts/Barlow-Black.ttf);
}

@font-face{
	font-family: font10;
	src: url(../fonts/Barlow-BlackItalic.ttf);
}

@font-face{
	font-family: font11;
	src: url(../fonts/Barlow-Bold.ttf);
}

@font-face{
	font-family: font12;
	src: url(../fonts/Barlow-BoldItalic.ttf);
}

@font-face{
	font-family: font13;
	src: url(../fonts/Barlow-ExtraBold.ttf);
}

@font-face{
	font-family: font14;
	src: url(../fonts/Barlow-ExtraBoldItalic.ttf);
}

@font-face{
	font-family: font15;
	src: url(../fonts/Barlow-ExtraLight.ttf);
}

@font-face{
	font-family: font16;
	src: url(../fonts/Barlow-ExtraLightItalic.ttf);
}

@font-face{
	font-family: font17;
	src: url(../fonts/Barlow-Light.ttf);
}


@font-face{
	font-family: font18;
	src: url(../fonts/Barlow-LightItalic.ttf);
}

@font-face{
	font-family: font19;
	src: url(../fonts/Barlow-Medium.ttf);
}

@font-face{
	font-family: font20;
	src: url(../fonts/Barlow-MediumItalic.ttf);
}
@font-face{
	font-family: font21;
	src: url(../fonts/Barlow-Regular.ttf);
}

@font-face{
	font-family: font22;
	src: url(../fonts/Barlow-RegularItalic.ttf);
}

@font-face{
	font-family: font23;
	src: url(../fonts/Barlow-SemiBold.ttf);
}

@font-face{
	font-family: font24;
	src: url(../fonts/Barlow-SemiBoldItalic.ttf);
}

@font-face{
	font-family: font25;
	src: url(../fonts/Barlow-ThinItalic.ttf);
}

@font-face{
	font-family: font26;
	src: url(../fonts/Caveat-Bold.ttf);
}

@font-face{
	font-family: font27;
	src: url(../fonts/Caveat-Regular.ttf);
}

@font-face{
	font-family: font28;
	src: url(../fonts/Courgette-Regular.ttf);
}

@font-face{
	font-family: font29;
	src: url(../fonts/CrimsonText-Bold.ttf);
}

@font-face{
	font-family: font30;
	src: url(../fonts/CrimsonText-BoldItalic.ttf);
}
@font-face{
	font-family: font31;
	src: url(../fonts/CrimsonText-Regular.ttf);
}

@font-face{
	font-family: font32;
	src: url(../fonts/CrimsonText-RegularItalic.ttf);
}

@font-face{
	font-family: font33;
	src: url(../fonts/CrimsonText-SemiBold.ttf);
}

@font-face{
	font-family: font34;
	src: url(../fonts/CrimsonText-SemiBoldItalic.ttf);
}

@font-face{
	font-family: font35;
	src: url(../fonts/Cuprum-Bold.ttf);
}

@font-face{
	font-family: font36;
	src: url(../fonts/Cuprum-BoldItalic.ttf);
}

@font-face{
	font-family: font37;
	src: url(../fonts/Cuprum-Regular.ttf);
}

@font-face{
	font-family: font38;
	src: url(../fonts/Cuprum-RegularItalic.ttf);
}

@font-face{
	font-family: font39;
	src: url(../fonts/DancingScript-Bold.ttf);
}

@font-face{
	font-family: font40;
	src: url(../fonts/DancingScript-Regular.ttf);
}
@font-face{
	font-family: font41;
	src: url(../fonts/FrancoisOne-Regular.ttf);
}

@font-face{
	font-family: font42;
	src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face{
	font-family: font43;
	src: url(../fonts/LexendDeca-Regular.ttf);
}

@font-face{
	font-family: font44;
	src: url(../fonts/Lobster-Regular.ttf);
}

@font-face{
	font-family: font45;
	src: url(../fonts/Merriweather-Black.ttf);
}

@font-face{
	font-family: font46;
	src: url(../fonts/Merriweather-BlackItalic.ttf);
}

@font-face{
	font-family: font47;
	src: url(../fonts/Merriweather-Bold.ttf);
}

@font-face{
	font-family: font48;
	src: url(../fonts/Merriweather-BoldItalic.ttf);
}

@font-face{
	font-family: font49;
	src: url(../fonts/Merriweather-Light.ttf);
}

@font-face{
	font-family: font50;
	src: url(../fonts/Merriweather-LightItalic.ttf);
}
@font-face{
	font-family: font51;
	src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face{
	font-family: font52;
	src: url(../fonts/Merriweather-RegularItalic.ttf);
}

@font-face{
	font-family: font53;
	src: url(../fonts/NotoSansKR-Black.otf);
}

@font-face{
	font-family: font54;
	src: url(../fonts/NotoSansKR-Bold.otf);
}

@font-face{
	font-family: font55;
	src: url(../fonts/NotoSansKR-Medium.otf);
}

@font-face{
	font-family: font56;
	src: url(../fonts/NotoSansKR-Light.otf);
}

@font-face{
	font-family: font57;
	src: url(../fonts/NotoSansKR-Regular.otf);
}

@font-face{
	font-family: font58;
	src: url(../fonts/NotoSansKR-Thin.otf);
}

@font-face{
	font-family: font59;
	src: url(../fonts/PoiretOne-Regular.ttf);
}

@font-face{
	font-family: font60;
	src: url(../fonts/Barlow-BlackItalic.ttf);
}
@font-face{
	font-family: font61;
	src: url(../fonts/AbrilFatface-Regular.ttf);
}

section h1{
	font-size: 80px;
	text-align: center;
	padding-top: 450px;
	padding-bottom: 50px;
	color: #b30086;
}


.left{float: left;}
.right{float: right;}
.clear{clear: both;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.margin-zero{margin: 0;}
.padding-zero{padding: 0;}
.half-width{width: 50%;}
.uppercase{text-transform: uppercase;}
.flex{display: flex;}

.part{
	margin: 20px;
	width: 90%;
	background-color: #fff;
	box-shadow: 0px 0px 10px pink;
}


.conrainer{
	text-align: center;
}

.logo img{
	animation: animation1 3.5s infinite;
}


.main{
	background: url("../img/choco-back0.jpg") no-repeat;
	background-size: cover;
	height: 1000px;
}

.part a{
	margin: 0;
	text-decoration: none;
	color: #b30086;
	font-size: 18px;
}

.a , .b{
	background: linear-gradient(to bottom , #ffe6f9 , #fff );
}

.c, .d{
	background: linear-gradient(to top , #ffe6f9 , #fff );
}

.a p{
	padding: 0 5%;
	line-height: 2em;
	font-family: font42;
	color: #b30086;
}

.a h3 , .b h3 , .c h3 .d h3{
	font-size: 40px;
	font-family: font51;
	color: #b30086;
}

button{
	background-color: #b30086;
	border-radius: 50px;
	width: 200px;
	height: 50px;
	color: #fff;
	border: 0;
	font-family: font41;
	font-size: 20px;
}


button:hover{
	background-color: transparent;
	color: #b30086;
	border: 2px #b30086 solid;

}

.top-img img{
	width: 250px;
	
}
.top{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.top-img{
	overflow: hidden;
	margin:10px;
	float: left;
	height: 150px;
}

.zoom:hover{
	transform: scale(1.5);
	transition-duration: 1.5s;
	overflow: hidden;
}

.b button{

	margin-top: 50px;
	text-align: center;
	margin-left: 30px; 
}


.top-img h3{
	font-size: 30px;
	text-align: center;
}



.top-img h3:hover{
	text-shadow: 0 0 10px #b30086;
	color: #ffe6f9;
}


