@keyframes animation1{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(180deg);}
}


@font-face{
	font-family: font41;
	src: url(../fonts/FrancoisOne-Regular.ttf);
}

@font-face{
	font-family: Button-Font;
	src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face{
	font-family: font51;
	src: url(../fonts/Merriweather-Regular.ttf);
}

section h1{
	font-size: 80px;
	text-align: center;
	padding-top: 450px;
	padding-bottom: 50px;
	color: #b30086;
}


.left{float: left;}
.right{float: right;}
.clear{clear: both;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.margin-zero{margin: 0;}
.padding-zero{padding: 0;}
.half-width{width: 50%;}
.uppercase{text-transform: uppercase;}
.flex{display: flex;}

.part{
	margin: 20px;
	width: 90%;
	background-color: #fff;
	box-shadow: 0px 0px 10px pink;
}


.container{
	text-align: center;
}

.logo img{
	animation: animation1 3.5s infinite;
}


.main{
	background: url("../img/choco-back0.jpg") no-repeat;
	background-size: cover;
	height: 1000px;
}

.part a{
	margin: 0;
	text-decoration: none;
	color: #b30086;
	font-size: 18px;
}

.a , .b{
	background: linear-gradient(to bottom , #ffe6f9 , #fff );
}

.c, .d{
	background: linear-gradient(to top , #ffe6f9 , #fff );
}

.a p{
	padding: 0 5%;
	line-height: 2em;
	font-family: font42;
	color: #b30086;
}

.a h3 , .b h3 , .c h3 .d h3{
	font-size: 40px;
	font-family: font51;
	color: #b30086;
}

button{
	background-color: #b30086;
	border-radius: 50px;
	width: 200px;
	height: 50px;
	color: #fff;
	border: 0;
	font-family: Button-Font;
	font-size: 20px;
}


button:hover{
	background-color: transparent;
	color: #b30086;
	border: 2px #b30086 solid;

}

.top-img img{
	width: 250px;
	
}
.top{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.top-img{
	overflow: hidden;
	margin:10px;
	float: left;
	height: 150px;
}

.zoom:hover{
	transform: scale(1.5);
	transition-duration: 1.5s;
	overflow: hidden;
}

.b button{

	margin-top: 50px;
	text-align: center;
	margin-left: 30px; 
}

.top-img h3{
	font-size: 30px;
	text-align: center;
}

.top-img h3:hover{
	text-shadow: 0 0 10px #b30086;
	color: #ffe6f9;
}
