@font-face{
	font-family: font1;
	src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face{
	font-family: font2;
	src: url(../fonts/Asap-Bold.ttf);
}

@font-face{
	font-family: font3;
	src: url(../fonts/Asap-BoldItalic.ttf);
}

@font-face{
	font-family: font4;
	src: url(../fonts/Asap-Medium.ttf);
}

@font-face{
	font-family: font5;
	src: url(../fonts/Asap-MediumItalic.ttf);
}

@font-face{
	font-family: font6;
	src: url(../fonts/Asap-Regular.ttf);
}

@font-face{
	font-family: font7;
	src: url(../fonts/Asap-RegularItalic.ttf);
}

@font-face{
	font-family: font8;
	src: url(../fonts/Asap-SemiBoldItalic.ttf);
}

@font-face{
	font-family: font9;
	src: url(../fonts/Barlow-Black.ttf);
}

@font-face{
	font-family: font10;
	src: url(../fonts/Barlow-BlackItalic.ttf);
}

@font-face{
	font-family: font11;
	src: url(../fonts/Barlow-Bold.ttf);
}

@font-face{
	font-family: font12;
	src: url(../fonts/Barlow-BoldItalic.ttf);
}

@font-face{
	font-family: font13;
	src: url(../fonts/Barlow-ExtraBold.ttf);
}

@font-face{
	font-family: font14;
	src: url(../fonts/Barlow-ExtraBoldItalic.ttf);
}

@font-face{
	font-family: font15;
	src: url(../fonts/Barlow-ExtraLight.ttf);
}

@font-face{
	font-family: font16;
	src: url(../fonts/Barlow-ExtraLightItalic.ttf);
}

@font-face{
	font-family: font17;
	src: url(../fonts/Barlow-Light.ttf);
}


@font-face{
	font-family: font18;
	src: url(../fonts/Barlow-LightItalic.ttf);
}

@font-face{
	font-family: font19;
	src: url(../fonts/Barlow-Medium.ttf);
}

@font-face{
	font-family: font20;
	src: url(../fonts/Barlow-MediumItalic.ttf);
}
@font-face{
	font-family: font21;
	src: url(../fonts/Barlow-Regular.ttf);
}

@font-face{
	font-family: font22;
	src: url(../fonts/Barlow-RegularItalic.ttf);
}

@font-face{
	font-family: font23;
	src: url(../fonts/Barlow-SemiBold.ttf);
}

@font-face{
	font-family: font24;
	src: url(../fonts/Barlow-SemiBoldItalic.ttf);
}

@font-face{
	font-family: font25;
	src: url(../fonts/Barlow-ThinItalic.ttf);
}

@font-face{
	font-family: font26;
	src: url(../fonts/Caveat-Bold.ttf);
}

@font-face{
	font-family: font27;
	src: url(../fonts/Caveat-Regular.ttf);
}

@font-face{
	font-family: font28;
	src: url(../fonts/Courgette-Regular.ttf);
}

@font-face{
	font-family: font29;
	src: url(../fonts/CrimsonText-Bold.ttf);
}

@font-face{
	font-family: font30;
	src: url(../fonts/CrimsonText-BoldItalic.ttf);
}
@font-face{
	font-family: font31;
	src: url(../fonts/CrimsonText-Regular.ttf);
}

@font-face{
	font-family: font32;
	src: url(../fonts/CrimsonText-RegularItalic.ttf);
}

@font-face{
	font-family: font33;
	src: url(../fonts/CrimsonText-SemiBold.ttf);
}

@font-face{
	font-family: font34;
	src: url(../fonts/CrimsonText-SemiBoldItalic.ttf);
}

@font-face{
	font-family: font35;
	src: url(../fonts/Cuprum-Bold.ttf);
}

@font-face{
	font-family: font36;
	src: url(../fonts/Cuprum-BoldItalic.ttf);
}

@font-face{
	font-family: font37;
	src: url(../fonts/Cuprum-Regular.ttf);
}

@font-face{
	font-family: font38;
	src: url(../fonts/Cuprum-RegularItalic.ttf);
}

@font-face{
	font-family: font39;
	src: url(../fonts/DancingScript-Bold.ttf);
}

@font-face{
	font-family: font40;
	src: url(../fonts/DancingScript-Regular.ttf);
}
@font-face{
	font-family: font41;
	src: url(../fonts/FrancoisOne-Regular.ttf);
}

@font-face{
	font-family: font42;
	src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face{
	font-family: font43;
	src: url(../fonts/LexendDeca-Regular.ttf);
}

@font-face{
	font-family: font44;
	src: url(../fonts/Lobster-Regular.ttf);
}

@font-face{
	font-family: font45;
	src: url(../fonts/Merriweather-Black.ttf);
}

@font-face{
	font-family: font46;
	src: url(../fonts/Merriweather-BlackItalic.ttf);
}

@font-face{
	font-family: font47;
	src: url(../fonts/Merriweather-Bold.ttf);
}

@font-face{
	font-family: font48;
	src: url(../fonts/Merriweather-BoldItalic.ttf);
}

@font-face{
	font-family: font49;
	src: url(../fonts/Merriweather-Light.ttf);
}

@font-face{
	font-family: font50;
	src: url(../fonts/Merriweather-LightItalic.ttf);
}
@font-face{
	font-family: font51;
	src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face{
	font-family: font52;
	src: url(../fonts/Merriweather-RegularItalic.ttf);
}

@font-face{
	font-family: font53;
	src: url(../fonts/NotoSansKR-Black.otf);
}

@font-face{
	font-family: font54;
	src: url(../fonts/NotoSansKR-Bold.otf);
}

@font-face{
	font-family: font55;
	src: url(../fonts/NotoSansKR-Medium.otf);
}

@font-face{
	font-family: font56;
	src: url(../fonts/NotoSansKR-Light.otf);
}

@font-face{
	font-family: font57;
	src: url(../fonts/NotoSansKR-Regular.otf);
}

@font-face{
	font-family: font58;
	src: url(../fonts/NotoSansKR-Thin.otf);
}

@font-face{
	font-family: font59;
	src: url(../fonts/PoiretOne-Regular.ttf);
}

@font-face{
	font-family: font60;
	src: url(../fonts/Barlow-BlackItalic.ttf);
}
@font-face{
	font-family: font61;
	src: url(../fonts/AbrilFatface-Regular.ttf);
}




*{
	text-align: center;
}

h1{
	font-size: 80px;
	text-align: center;
	color: #b30086;
	padding: 100px 0;
	font-family: font59;
}






.left{float: left;}
.right{float: right;}
.clear{clear: both;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.margin-zero{margin: 0;}
.padding-zero{padding: 0;}
.half-width{width: 50%;}
.uppercase{text-transform: uppercase;}
.flex{display: flex;}



.main{
	background: linear-gradient(to top , #fff , #ffe6f9);
}


.div-p{
	background: linear-gradient(to top, #ffe6f9 , #fff);
}





.div-p p{
	color: #b30086;
	font-family: font33;
	font-size: 30px;	
	line-height: 50px;
}



.div-p h2{
	color: #b30086;
	font-size: 50px;
	padding: 50px;
}

.inner{
	padding: 10%;
}


.div-all{
	position: relative;
	height: 800px;
	overflow: hidden;
}

.div-all img{
	width: 100%;
	height: 800px;

}

.div-img img:hover{
	transform: scale(1.5);
	transition-duration: 3s;
}


.main-container a{
	font-size: 12px;
	line-height: 20px;
}

.main-container{
	flex-wrap: nowrap;
}


.main p{
	font-family: font48;
	text-align: justify-all;
}


.sec-1{
	padding-top: 150px; 
}


.main-container a{
	background: #b30086;
	border-radius: 10px;
	margin: 5px;
	width: 10%;
	color: #fff;
	border: 1px solid transparent;
}


.main-container a:hover{
	background: transparent;
	border: 1px solid #b30086;
	color: #b30086;
}
